<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="input" value="d:\Photo\Raw"/>
		<add key="output" value="d:\Photo"/>
		<add key="rules" value="
			 yyyy' year'\
			 23.06.2013 - 05.07.2013:'June - July (Holydays)'
			 MMMM\
			 31.12.yyyy:'New Year'|
			 09.08.yyyy:'My Birthday'\
			 (mpg|mov):'Video'
			 "/>
	</appSettings>
</configuration>